<%= form_with(model: waiver) do |form| %>
  <% if waiver.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(waiver.errors.count, "error") %> prohibited this waiver from being saved:</h2>

      <ul>
        <% waiver.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :run_id, style: "display: block" %>
    <%= form.number_field :run_id %>
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
