<%= form_with(model: user_run) do |form| %>
  <% if user_run.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user_run.errors.count, "error") %> prohibited this user_run from being saved:</h2>

      <ul>
        <% user_run.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :run_id, style: "display: block" %>
    <%= form.number_field :run_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
