<%= form_with(model: vendor) do |form| %>
  <% if vendor.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(vendor.errors.count, "error") %> prohibited this vendor from being saved:</h2>

      <ul>
        <% vendor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :runs_count, style: "display: block" %>
    <%= form.number_field :runs_count %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
