<div id="<%= dom_id run %>">
  <p>
    <strong>Distance:</strong>
    <%= run.distance %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= run.name %>
  </p>

  <p>
    <strong>Vendor:</strong>
    <%= run.vendor_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= run.user_id %>
  </p>

  <p>
    <strong>Route:</strong>
    <%= run.route %>
  </p>

  <p>
    <strong>Waivers count:</strong>
    <%= run.waivers_count %>
  </p>

  <p>
    <strong>User runs count:</strong>
    <%= run.user_runs_count %>
  </p>

</div>
