<div id="<%= dom_id shoe %>">
  <p>
    <strong>Size:</strong>
    <%= shoe.size %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= shoe.brand %>
  </p>

  <p>
    <strong>Model:</strong>
    <%= shoe.model %>
  </p>

  <p>
    <strong>Mileage:</strong>
    <%= shoe.mileage %>
  </p>

</div>
