<p style="color: green"><%= notice %></p>

<%= render @shoe %>

<div>
  <%= link_to "Edit this shoe", edit_shoe_path(@shoe) %> |
  <%= link_to "Back to shoes", shoes_path %>

  <%= button_to "Destroy this shoe", @shoe, method: :delete %>
</div>
