<div class="navbar col-span-1 shadow-lg xl:col-span-3 bg-neutral-focus text-neutral-content rounded-box">
  <div class="flex-none">
    <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-6 h-6 stroke-current">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path>
      </svg>
    </label>
  </div>
  
  <% if user_signed_in? %>
  <div class="flex-none px-2 mx-2">
    <span class="text-lg font-bold">
      <a href="/" aria-current="page" aria-label="Homepage" class="flex-0 btn btn-ghost px-2">
        <svg width="32" height="32" viewBox="0 0 415 415" xmlns="http://www.w3.org/2000/svg">
          <rect x="82.5" y="290" width="250" height="125" rx="62.5" fill="#1AD1A5"></rect>
          <circle cx="207.5" cy="135" r="130" fill="black" fill-opacity=".3"></circle>
          <circle cx="207.5" cy="135" r="125" fill="white"></circle><circle cx="207.5" cy="135" r="56" fill="#FF9903"></circle>
        </svg>
        <div class="font-title inline-flex text-lg md:text-2xl"><span class="lowercase">fun</span>
          <span class="uppercase text-[#1AD1A5]">RUN</span>
        </div>
      </a>
    </span>
  </div>
  <div class="flex justify-center flex-1 px-2 mx-2">
    <div class="items-stretch hidden lg:flex">
      <a class="btn btn-ghost btn-sm rounded-btn"> Home </a>
      <a class="btn btn-ghost btn-sm rounded-btn"> Portfolio </a>
      <a href="https://daisyui.com/" target="_blank" class="btn btn-ghost btn-sm rounded-btn"> About </a>
      <a href="https://github.com/mkhairi/rails-daisyui-starter" target="_blank" class="btn btn-ghost btn-sm rounded-btn"> Source </a>
    </div>
  </div>
  <div class="flex-none">
    <button class="btn btn-square btn-ghost">
      <%= icon "bell", class: 'w-6 h-6' %>
    </button>
  </div>
  <div class="flex-none">
    <div class="avatar">
      <div class="rounded-full w-14 h-14 shadow p-1">
        <% if current_user.avatar.present? %>
          <%= image_tag current_user.avatar, class: "w-full h-full rounded-full" %>
        <% else %>
          <%= image_tag "https://i.pravatar.cc/500?img=32", class: "w-full h-full rounded-full" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="flex-none">
      <button class="nav-link link-light text-white" data-turbo-method="delete">
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete, data: { turbo_method: 'delete' } %>
      </button>
  </div>
<% else %>
  <div class="flex-none">
    <%= link_to "Sign In", new_user_session_path, class: "btn btn-square btn-ghost" %>
  </div>
  <div class="flex-none">
    <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-square btn-ghost" %>
  </div>
<% end %>

</div>
